* {
  box-sizing: border-box;
}

.todo-container {
  width: 400px;
  margin: 80px auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.todo-container h2 {
  text-align: center;
  font-size: 32px;
}

input {
  width: 70%;
  padding: 8px;
}

button {
  padding: 8px 10px;
  margin-left: 4px;
  cursor: pointer;
  background-color: crimson;
  border: 3px solid crimson;
  color: #fff;
  transition: all 0.5s ease-in-out;

  &:hover {
    background-color: #fff;
    color: crimson;
    transition: all 0.5s ease-in-out;
    border: 3px solid crimson;
  }
}

ul {
  width: 100%;
  padding: 0px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  margin-top: 8px;
  padding: 8px;
}

.action {
  display: flex;
  align-content: center;
}

.action button {
  padding: 6px 10px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
